/* VARIABLES */
:root {
    --clr-very-dark-blue: hsl(243, 87%, 12%);
    --clr-desaturated-blue: hsl(238, 22%, 44%);
    --clr-bright-blue: hsl(224, 93%, 58%);
    --clr-moderate-cyan: hsl(170, 45%, 43%);
    --clr-light-gray: hsl(0, 0%, 75%);
    --clr-light-grayish-blue: hsl(240, 75%, 98%);

    --ff-open-sans: 'Open Sans', sans-serif;
    --ff-raleway: 'Raleway', sans-serif;

    --fw-regular: 400;
    --fw-bold: 700;
}

/* END VARIABLES */

/* RESET DEFAULTS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
}

img,
svg {
    display: block;
    width: 100%;
}

a,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* END RESET DEFAULTS */

/* STYLES */
body {
    font-family: var(--ff-open-sans);
    font-weight: var(--fw-regular);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
    padding: 4rem 3rem;
}

header img {
    max-height: 3rem;
    width: auto;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 3.8rem;
}


header a {
    display: block;
    text-decoration: none;
    color: var(--clr-very-dark-blue);
    font-size: 1.4rem;
}

section {
    display: grid;
    text-align: center;
    padding: 0 3rem;
}

section h2,
h1 {
    font-size: 3rem;
    font-weight: var(--fw-bold);
    font-family: var(--ff-open-sans);
    color: var(--clr-very-dark-blue);
    margin-bottom: 3rem;
}

section h2 {
    font-size: 2rem;
    font-family: var(--ff-raleway);
}

section p {
    font-size: 1.79rem;
    padding: 0 0.5rem;
    margin-bottom: 4rem;
}

.form__get-started {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin-bottom: 12rem;
}

.form__get-started input {
    border: 2px solid var(--clr-desaturated-blue);
    border-radius: 0.4rem;
    margin-bottom: 2rem;
    font-size: 3rem;
    padding: 0.5rem 0 0.5rem 2rem;
}

.form__get-started input::placeholder {
    color: var(--clr-light-gray);
    font-family: var(--ff-raleway);
    opacity: 0.8;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.form__get-started button {
    font-family: var(--ff-raleway);
    background-color: var(--clr-bright-blue);
    color: var(--clr-light-grayish-blue);
    border: none;
    border-radius: 0.4rem;
    padding: 1.5rem 0;
    font-size: 1.7rem;
    font-weight: var(--fw-bold);
    cursor: pointer;
}

.form__get-started button:hover {
    background-color: hsla(224, 93%, 58%, 0.5);
}

.change_color {
    background-color: var(--clr-light-grayish-blue);
}

.change_color .illustration {
    margin-top: 4rem;
    margin-bottom: 10.5rem;
}

.change_color {
    color: var(--clr-desaturated-blue);
    text-align: start;
}

.change_color h2 {
    text-align: center;
}

.new_line {
    margin-top: 2rem;
    display: block;
}

.presentation__link {
    text-decoration: none;
    margin-bottom: 5em;
    justify-self: center;
    display: flex;
}

.presentation__link-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--clr-moderate-cyan);
    padding-bottom: 0.5rem;
    color: var(--clr-moderate-cyan);
    margin: auto;
}

.presentation__link-text {
    font-size: 1.49rem;
    margin: 0;
}

.presentation__link-box:hover {
    border-bottom: 2px solid rgb(69, 224, 198);
    color: rgb(69, 224, 198);
}

.arrow-icon {
    width: auto;
    height: 2rem;
}

.testimonial {
    background-color: white;
    padding: 2.5rem 3rem;
    margin: 0 3rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
    margin-bottom: 10rem;
}

.testimonial__text {
    font-size: 1.25rem;
    padding: 0;
    color: var(--clr-very-dark-blue);
    letter-spacing: 0.03rem;
    margin-bottom: 1.5rem;
    line-height: 1.9;
}

.testimonial__name {
    margin-left: 0.5rem;
    color: var(--clr-very-dark-blue);
    font-family: var(--ff-open-sans);
    font-weight: var(--fw-bold);
    font-family: var(--ff-open-sans);
    font-size: 1.1rem;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
}

.testimonial__quotes {
    width: auto;
    height: 1.3rem;
    margin-bottom: 1rem;
}

.testimonial__author {
    display: flex;
}

.testimonial__avatar {
    width: auto;
    height: 3rem;
    border-radius: 50%;
}

.testimonial__job-title {
    display: block;
    font-weight: var(--fw-regular);
    font-family: var(--ff-raleway);
    font-size: 0.9rem;
    letter-spacing: initial;
}

.early-access {
    background-color: var(--clr-desaturated-blue);
    color: var(--clr-light-grayish-blue);
    padding: 6.1rem 6rem;
}

.early-access__title {
    color: var(--clr-light-grayish-blue);
    font-size: 2.2rem;
}

.early-access__text {
    font-size: 1.7rem;
    margin-bottom: 2.7rem;
}

.early-access__form {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    margin-bottom: 3rem;
}

.early-access__email {
    border: 2px solid var(--clr-light-grayish-blue);
    border-radius: 0.2rem;
    margin-bottom: 1rem;
    padding: 1.4rem 0 1.4rem 1rem;
}

.early-access__email::placeholder {
    color: var(--clr-light-gray);
    font-family: var(--ff-raleway);
    opacity: 0.8;
    font-size: 1.2rem;
}

.early-access__button {
    font-family: var(--ff-raleway);
    background-color: var(--clr-bright-blue);
    color: var(--clr-light-grayish-blue);
    border: none;
    border-radius: 0.2rem;
    padding: 1.3rem 0;
    font-size: 1.2rem;
    font-weight: var(--fw-bold);
    cursor: pointer;
}

.early-access__button:hover {
    background-color: hsl(224, 93%, 75%);
}

footer {
    background-color: var(--clr-very-dark-blue);
    padding: 8.8rem 5rem 5rem;
    display: grid;
    gap: 8rem;
}

footer .footer_link {
    color: var(--clr-light-grayish-blue);
    text-decoration: none;
    font-size: 2rem;
}

.footer__logo {
    width: auto;
    height: 6rem;
    margin-bottom: -0.8rem;
}

.footer__flex-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__img-grid-container {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    width: fit-content;
    align-items: center;
    column-gap: 1.5rem;
    row-gap: 2rem;
    margin-bottom: -1.5rem;
}

.footer__decoration-img {
    width: auto;
    height: 2rem;
}

.social-media-icon {
    width: auto;
    height: 3.8rem;
    border: 2px white solid;
    border-radius: 50%;
    padding: 1rem;
}

.social-media-flex-container {
    display: flex;
    gap: 1.5rem;
    margin: 0 auto;
}

@media screen and (min-width: 75rem) {
    html {
        font-size: 0.85rem;
    }

    header {
        padding: 5rem;
        margin-bottom: 2rem;
    }

    section {
        grid-template-columns: 1fr 1fr;
        padding: 5rem 5rem 0;
    }

    .illustration {
        grid-column: 2;
    }

    .section-text-container {
        grid-column: 1;
        grid-row: 1;
    }

    .title-section p,
    h1 {
        text-align: start;
        margin-bottom: 1rem;
        padding: 0;
    }

    .title-section p {
        font-size: 1.4rem;
    }

    .title-section form {
        flex-direction: row;
        padding: 0;
        margin: 0;
        margin-top: 1.3rem;
    }

    .title-section input {
        padding: 1rem;
        font-size: 1.5rem;
        border-width: 1px;
        border-radius: 0.2rem;
        margin: 0;
        margin-right: 1rem;
        flex: 1;
    }

    .title-section input::placeholder {
        padding: 1rem;
        font-size: 1rem;
    }

    .title-section button {
        font-size: 1rem;
        padding: 1rem 5rem;
        margin: 0;
        margin-right: 3.5rem;
        border-radius: 0.2rem;
        box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem rgba(0, 0, 0, 0.1);
    }

    .change_color h2 {
        font-size: 2.8rem;
    }

    .change_color p {
        font-size: 1.2rem;
        color: var(--clr-very-dark-blue);
        margin-bottom: 1rem;
        padding: 0;
    }

    .new_line {
        margin-top: 1rem;
    }

    .change_color .presentation__link-box {
        justify-content: start;
        border-bottom: 1px solid var(--clr-moderate-cyan);
        max-width: fit-content;
        margin-bottom: 2.5rem;
        padding: 0;
    }

    .change_color .presentation__link-text {
        margin: 0;
        font-size: 1.2rem;
        color: var(--clr-moderate-cyan);
        padding: 0;
    }

    .arrow-icon {
        width: auto;
        height: 1.2rem;
        margin-left: 0.5rem;
    }

    .testimonial {
        margin-right: 0;
        margin-left: 0;
        max-width: 25rem;
        padding: 1.5rem 2rem 1rem 2rem;
    }

    .testimonial p {
        font-size: 0.95rem;
        line-height: 1.5;
    }

    .testimonial__quotes {
        height: 1.2rem;
    }

    .testimonial__avatar {
        height: 2.5rem
    }

    .testimonial__job-title {
        font-size: 0.7rem;
    }

    .testimonial__name {
        font-size: 0.9rem !important;
    }

    .change_color .illustration {
        margin-bottom: 0;
    }

    .early-access {
        padding: 8rem 5rem 3rem;
    }

    .early-access .section-text-container {
        text-align: start;
    }

    .early-access .section-text-container p{
        font-size: 1.3rem;
        padding: 0 7rem 0 0;
    }

    .early-access .section-text-container h2{
        margin-bottom: 1rem;
    }

    .early-access__form {
        padding: 0 4rem 0 9rem;
    }

    .early-access__button {
        width: max-content;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        font-size: 1rem;
        box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem rgba(0, 0, 0, 0.1);
    }

    .early-access__email {
        font-size: 1.5rem;
        padding: 0.8rem 0.8rem;
        box-shadow: 0.3rem 0.3rem 0.3rem 0.1rem rgba(0, 0, 0, 0.1);
    }

    .early-access .early-access__email::placeholder {
        font-size: 1rem;
    }

    footer {
        grid-template-columns: auto 1fr 1fr 1fr;
        grid-template-rows: auto 1fr;
        row-gap: 0;
        padding-top: 8rem;
        padding-right: 18rem;
        justify-items: center;
    }

    .footer__flex-container.phone-email {
        margin-right: 5rem;
    }

    .footer__logo {
        grid-row: 1;
        grid-column: 4 span;
        margin-bottom: 0;
        height: 3.5rem;
        margin-bottom: 2rem;
        justify-self: start;
    }

    .footer__flex-container .footer_link {
        font-size: 1.2rem;
    }

    .social-media-flex-container {
        gap: 1rem;
    }

    .social-media-icon {
        height: 2.3rem;
        padding: 0.5rem;
        border-width: 1px;
    }

    .footer__decoration-img {
        height: 1.4rem;
    }
}

@media screen and (max-width: 42.5rem) {
    html {
        font-size: 0.5em;
    }

    .social-media-icon {
        width: auto;
        height: 6.8rem;
        border: 2px white solid;
        border-radius: 50%;
        padding: 2rem;
    }
}

@media screen and (max-width: 22rem) {
    html {
        font-size: 0.3em;
    }

    .social-media-icon {
        width: auto;
        height: 8rem;
        border: 2px white solid;
        border-radius: 50%;
        padding: 2rem;
    }
}

@media screen and (max-width: 14rem) {
    html {
        font-size: 0.2rem;
    }

    .social-media-icon {
        width: auto;
        height: 8rem;
        border: 2px white solid;
        border-radius: 50%;
        padding: 2rem;
    }
}

/* END STYLES */